.login-alert{
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sign-in-container{
    display: flex;
    flex-direction: column;
    max-width: 31%;
    margin: auto;
}

.form-floating {
    position: relative;
    margin: 12px
}

.sign-in-title{
    padding-top: 20px;
}

.sign-in-buttons{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 80px;
    max-width: 374px;
}

#log-in-form{
    margin-top: 80px;
}

.logout-button{
    margin: auto;
}

.homepage{
    background-image: url("../images/homepage.jpg");
    background-size: cover;
}

.homepage-title{
    display: flex;
    margin: auto;
}

.homepage-text{
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
}

.intake-survey-text{
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 45px; 
}

.intake-survey{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.intake-button{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.homepage-buttons{
    display: flex;
    margin: auto;
}

.daily-survey{
    text-align: center;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.survey-date-title{
    text-align: center;
    font-size: 4vw;
}
.survey-explanation-text{
    text-align: center;
}
.survey-question{
    font-size: 22px;
}

.survey-question-and-input{
    padding-bottom: 15px;
}

.link{
    padding-top: 5px;
}

.chart{
    height: 400px;
    width: 800px;
}

.recenter-container{
    display: flex;
    justify-content: center;
}

.recenter-subcontainer{
    width: 60%;
    margin: 115px;
    background: grey;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    text-align: center;
}

.journal-entry{
    display: flex;
    flex-direction: column;
}

.response-box{
    height: 200px;
    width: 1000px;
    resize: auto;
    margin: auto;
    text-align: justify;
}

.response-button{
    padding-top: 5px;
    padding-right: 150px;
    display: flex;
    justify-content: flex-end;
}

.response-title{
    margin-left: 70px;
    padding-top: 10px;
}

.timecapsule-title{
    margin: 10px;
}