.login-alert{
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sign-in-container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
}

.form-floating {
    position: relative;
    margin: 12px
}

.sign-in-title{
    padding-top: 20px;
}

.sign-in-buttons{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 65px;
    max-width: 70%;
}

#log-in-form{
    margin-top: 35px;
}

.logout-button{
    margin: auto;
}

.homepage{
    background-image: url("../images/homepage.jpg");
    background-size: cover;
}

.thoughts-background{
    background-image: url("../images/background3.jpg");
}

.homepage-title{
    display: flex;
    margin: auto;
    justify-content: center;
}

.homepage-text{
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    /* padding-left: 75px; */
    /* padding-right: 75px; */
    padding-bottom: 60px;
    text-align: justify;
}

.intake-survey-text{
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 45px; 
}

.intake-survey{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.intake-button{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.homepage-buttons{
    display: flex;
    margin: auto;
    justify-content: center;
}

.daily-survey{
    text-align: center;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #f8ecdd;
    background-image: url('../images/background2.jpg');
    background-size: cover;
}

.survey-date-title{
    text-align: center;
    font-size: 4vw;
}
.survey-explanation-text{
    text-align: center;
}
.survey-question{
    font-size: 22px;
}

.survey-question-and-input{
    padding-bottom: 15px;
}

.link{
    padding-top: 5px;
}

.chart{
    height: 400px;
    width: 800px;
}

.recenter-container{
    display: flex;
    justify-content: center;
}

.recenter-subcontainer{
    width: 60%;
    margin: 115px;
    background: #a7a6a6;;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    text-align: center;
}

.journal-entry{
    display: flex;
    flex-direction: column;
}

.response-box{
    height: 200px;
    width: 1000px;
    resize: none;
    padding: 10px;
    margin: auto;
    text-align: justify;
    outline: none;
    border-radius: 20px;
}

.response-button{
    padding-top: 5px;
    padding-right: 150px;
    display: flex;
    justify-content: flex-end;
    outline: none;
}

.response-title{
    margin-left: 70px;
    padding-top: 10px;
}

.timecapsule-title{
    margin: 10px;
}

.survey-details-container{
    display: flex;
    justify-content: center;
}

.survey-details-subcontainer{
    width: 60%;
    margin: 50px;
    background: #a7a6a6;;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    /* text-align: center; */
}

.past-survey-container{
    margin: 5px;
}

.homepage-container{
    display: flex;
    justify-content: center;
}

.homepage-subcontainer{
    width: 60%;
    background: #a7a6a6;;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    text-align: center;
}

.login-container{
    display: flex;
    justify-content: center;
}

.login-subcontainer{
    width: 35%;
    background: #a7a6a6;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.account-container{
    display: flex;
    justify-content: center;
}

.account-subcontainer{
    width: 35%;
    background: #a7a6a6;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}