{% extends 'base.html' %}
{% block title %}Mindfulness Homepage{% endblock %}

{% block body %} 
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <!-- <h3 class="float-md-start mb-0">MindFly</h3> -->
        <img src="../static/images/plane.png" alt="" width="50" height="50">
      </div>
    </header>
  
    <div class="homepage-title">
      <h1>Welcome to MindFly</h1>
    </div>
    <div class="homepage-text">
      <p class="lead">MindFly is a website designed to increase mindfulness and remind you of activities to 
        recenter yourself on the days where you are feeling off. You'll be able to track your mood with a daily survey, 
        write down any thoughts or memories associated with that day, and be able to refer back to them later. </p>
    </div>
    <div class="homepage-buttons">
      <button type="button" style="width: 200px;" onclick="location.href='/create-account'" class="btn btn-outline-dark">Create An Account</button>
      <div style="width: 30px;"></div>
      <button type="button" onclick="location.href='/log-in'" style="width: 200px;" class="btn btn-outline-dark">Sign In</button>
    </div>
  </div>
{% endblock %}


