{% extends 'base.html' %}
{% block title %}{{session_user.name}}'s Profile Page{% endblock %}

{% block body %}
  <h1>Hi, {{session_user.name}}!</h1>
  <h2>Mindfulness Reminder:</h2>
  <h3>{{ affirmation_quotes.affirmation }}</h3>
    <div>
      <p>Mood Chart:</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
          const DATA_COUNT = 7;
          const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 5};

          const labels = Utils.months({count: 7});

          const data = {
            labels: labels,
            datasets: [
              {
                label: 'Dataset 1',
                data: Utils.numbers(NUMBER_CFG),
                borderColor: Utils.CHART_COLORS.red,
                backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
              },
              {
                label: 'Dataset 2',
                data: Utils.numbers(NUMBER_CFG),
                borderColor: Utils.CHART_COLORS.blue,
                backgroundColor: Utils.transparentize(Utils.CHART_COLORS.blue, 0.5),
              }
            ]
          };
          const config = {
            type: 'line',
            data: data,
            options: {
              responsive: true,
              plugins: {
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Chart.js Line Chart'
                }
              }
            },
          };
        </script>
        <script>
          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );
        </script>
    </div>
  <ul>
    <li><a href="/past-surveys">View Past Surveys</a></li>
    <li><a href="/journal">Thoughts Timecapsule</a></li>
  </ul>
{% endblock %}