{% extends 'base.html' %}
{% block title %}{{user_survey_answer.date}} Survey{% endblock %}

{% block body %}
<h1>{{user_survey_answer.date}}</h1>
    <ul>
            <li>Mood: {{user_survey_answer.q1}}</li>
            <li>Calmness: {{user_survey_answer.q2}}</li>
            <li>Care-Free: {{user_survey_answer.q3}}</li>
            <li>Energetic: {{user_survey_answer.q4}}</li>
            <li>Active: {{user_survey_answer.q5}}</li>
            <li>Throughts: {{journal_response.response}}</li>
    </ul>
{% endblock %}