{% extends 'base.html' %}
{% block title %}{{date}} Survey{% endblock %}

{% block body %}
<h2>{{date}}</h2>
<p>The following questions are aimed to capture how you're feeling at this moment. Questions are rated 
    on a scale of 1-5 with 5 being the highest and 1 being the lowest/not at all.</p>
<form action="/survey" method="POST">
  <h3>How would you rate your mood today?</h3>
    <p>
      <input type="radio" name="q1_survey-answer" id="rate-1" value="1" required>
      <label for="rate-1">1</label>
      <input type="radio" name="q1_survey-answer" id="rate-2" value="2" required>
      <label for="rate-2">2</label>
      <input type="radio" name="q1_survey-answer" id="rate-3" value="3" required>
      <label for="rate-3">3</label>
      <input type="radio" name="q1_survey-answer" id="rate-4" value="4" required>
      <label for="rate-4">4</label>
      <input type="radio" name="q1_survey-answer" id="rate-5" value="5" required>
      <label for="rate-5">5</label>
    </p>
  <h3>Anxiety level:</h3>
    <p>
      <input type="radio" name="q2_survey-answer" id="rate-1" value="1" required>
      <label for="rate-1">1</label>
      <input type="radio" name="q2_survey-answer" id="rate-2" value="2" required>
      <label for="rate-2">2</label>
      <input type="radio" name="q2_survey-answer" id="rate-3" value="3" required>
      <label for="rate-3">3</label>
      <input type="radio" name="q2_survey-answer" id="rate-4" value="4" required>
      <label for="rate-4">4</label>
      <input type="radio" name="q2_survey-answer" id="rate-5" value="5" required>
      <label for="rate-5">5</label>
    </p>
  <h3>Stress level:</h3>
    <p>
      <input type="radio" name="q3_survey-answer" id="rate-1" value="1" required>
      <label for="rate-1">1</label>
      <input type="radio" name="q3_survey-answer" id="rate-2" value="2" required>
      <label for="rate-2">2</label>
      <input type="radio" name="q3_survey-answer" id="rate-3" value="3" required>
      <label for="rate-3">3</label>
      <input type="radio" name="q3_survey-answer" id="rate-4" value="4" required>
      <label for="rate-4">4</label>
      <input type="radio" name="q3_survey-answer" id="rate-5" value="5" required>
      <label for="rate-5">5</label>
    </p>
  <h3>Fatigue level:</h3>
    <p>
      <input type="radio" name="q4_survey-answer" id="rate-1" value="1" required>
      <label for="rate-1">1</label>
      <input type="radio" name="q4_survey-answer" id="rate-2" value="2" required>
      <label for="rate-2">2</label>
      <input type="radio" name="q4_survey-answer" id="rate-3" value="3" required>
      <label for="rate-3">3</label>
      <input type="radio" name="q4_survey-answer" id="rate-4" value="4" required>
      <label for="rate-4">4</label>
      <input type="radio" name="q4_survey-answer" id="rate-5" value="5" required>
      <label for="rate-5">5</label>
    </p>
  <h3>Restless/Fidgety?</h3>
    <p>
      <input type="radio" name="q5_survey-answer" id="rate-1" value="1" required>
      <label for="rate-1">1</label>
      <input type="radio" name="q5_survey-answer" id="rate-2" value="2" required>
      <label for="rate-2">2</label>
      <input type="radio" name="q5_survey-answer" id="rate-3" value="3" required>
      <label for="rate-3">3</label>
      <input type="radio" name="q5_survey-answer" id="rate-4" value="4" required>
      <label for="rate-4">4</label>
      <input type="radio" name="q5_survey-answer" id="rate-5" value="5" required>
      <label for="rate-5">5</label>

  <h3>Thoughts...</h3>
    <p>This is an open area for you to be able to write down any thoughts, 
        feelings, and events associated with today.</p>
    <p>
      <input type="text" name="journal_prompt" id="journal_prompt"><br>
    </p>
    </p>
  <p>
    <input type="submit">
  </p>
</form>
{% endblock %}